.globo-swatch-pink{background:pink !important; }
.globo-swatch-black{background:black !important; }
.globo-swatch-yellow{background:yellow !important; }
.globo-swatch-blue{background:blue !important; }
.globo-swatch-red{background:red !important; }
    