#inline_content{
	height:100%;
}
button.btn.button.gpc-btn {
    text-transform: initial;
}
body table.compare-list td {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #f2f2f2;
  width: 230px;
  max-width: 230px;
  min-width: 230px;
  text-align: center;
}

body table.compare-list th {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  border: none;
  font-size: 18px;
}

body table.compare-list tr.title td {
  min-width: 200px;
}

table.compare-list {
  background-color: #fff;
  margin: 0;
  width: 100%;
  height: 100%;
}
table.table.compare-list.empty{
	height:100%;
}

table.compare-list th .fixed-th {
  width: 205px;
}

table.compare-list .remove td a {
  text-decoration: none;
}

table.compare-list tr>th {
  background-color: #f7f7f7;
}

table.compare-list th {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  border: none;
  font-size: 18px;
}

table.compare-list td {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #f2f2f2;
}

table.compare-list td.odd {
  background-color: transparent;
}

table.compare-list td img {
  margin-bottom: 0;
  max-width: 100%;
  background: 0 0;
  border: none;
  padding: 0;
}

table.compare-list tr.title td {
  color: #212121;
  padding-bottom: 10px;
}

table.compare-list tr.price td {
  text-decoration: none;
  font-size: 18px;
}

table.compare-list tr.price.repeated td {
  padding-top: 20px;
}

table.compare-list tr.stock td span {
  display: inline-block;
  padding: 5px 10px;
  color: #297e29;
  border: 2px solid #297e29;
  font-size: 12px;
  letter-spacing: .3px;
  font-weight: 700;
}

table.compare-list tr.stock td span.out-of-stock {
  border-color: #b50808;
  color: #b50808;
}

table.compare-list tr.g-atc td a {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 10px 0;
  padding-left: 14px;
  padding-right: 14px;
  line-height: 18px;
  letter-spacing: .3px;
  border-radius: 0;
  border: 1px solid;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  background-color: #000;
  color: #fff;
  border-color: #000;
}

table.compare-list tr.g-atc td a:focus,table.compare-list tr.g-atc td a:hover {
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-color: #333;
}

table.compare-list tr.g-atc td a.btn-style-bordered {
  background-color: transparent;
  color: #000;
}

table.compare-list tr.g-atc td a.btn-style-bordered:focus,table.compare-list tr.g-atc td a.btn-style-bordered:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

table.compare-list tr.g-atc td a.btn-style-link {
  background-color: transparent;
  color: #000;
  opacity: 1;
}

table.compare-list tr.g-atc td a.btn-style-link:focus,table.compare-list tr.g-atc td a.btn-style-link:hover {
  background-color: transparent;
  color: #000;
  opacity: .7;
}

table.compare-list tr.g-atc .add_to_cart_button .blockUI.blockOverlay {
  display: none!important;
}

table.compare-list tr.g-atc .add_to_cart_button.added {
  display: none;
}

table.compare-list tr.g-atc .add_to_cart_button.loading {
  padding-right: 35px;
}

table.compare-list tr.g-atc .add_to_cart_button:after {
  border-color: #fff;
}

table.compare-list tr.no-products td {
  border: none;
  font-size: 24px;
  padding-top: 25px;
  color: #000;
}

table.compare-list tr.remove a {
  color: #212121;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 20px;
  display: inline-block;
  padding-right: 25px;
  position: relative;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

table.compare-list tr.remove a:after,table.compare-list tr.remove a:before {
  content: " ";
  width: 15px;
  height: 2px;
  position: absolute;
  right: 0;
  top: 9px;
  display: inline-block;
  background-color: #212121;
  -webkit-transition: background-color .2s ease-in-out,transform .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out,transform .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out,transform .2s ease-in-out;
  transition: background-color .2s ease-in-out,transform .2s ease-in-out;
}

table.compare-list tr.remove a:focus:after,table.compare-list tr.remove a:hover:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -sand-transform: rotate(-45deg);
}

table.compare-list tr.remove a:focus:before,table.compare-list tr.remove a:hover:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -sand-transform: rotate(45deg);
  transform: rotate(45deg);
}

table.compare-list tr.remove a .blockOverlay {
  display: none!important;
}

table.compare-list tr.remove a .remove {
  display: none;
}

#cboxClose {
    bottom: -45px;
    color: #fff;
    background: 0 0;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 33px;
    width: 180px;
    height: auto;
    text-indent: 0;
    padding-right: 50px;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    right: 0;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    position: absolute;
}

#cboxClose:before {
    content: " ";
    width: 35px;
    height: 3px;
    position: absolute;
    right: 0;
    top: 15px;
    display: inline-block;
    background-color: #fff;
    -webkit-transition: background-color .2s ease-in-out,transform .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out,transform .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out,transform .2s ease-in-out;
    transition: background-color .2s ease-in-out,transform .2s ease-in-out;
}


#cboxClose:after, #cboxClose:before {
    content: " ";
    width: 35px;
    height: 3px;
    position: absolute;
    right: 0;
    top: 15px;
    display: inline-block;
    background-color: #fff;
    -webkit-transition: background-color .2s ease-in-out,transform .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out,transform .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out,transform .2s ease-in-out;
    transition: background-color .2s ease-in-out,transform .2s ease-in-out;
}
#cboxClose:hover:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -sand-transform: rotate(45deg);
    transform: rotate(45deg);
}
#cboxClose:hover:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -sand-transform: rotate(-45deg);
}



table.compare-list tr:last-child td {
  border-bottom: none;
}

table.compare-list tr.g-atc th,table.compare-list tr.image th,table.compare-list tr.price th,table.compare-list tr.title th {
  text-indent: 150%;
  overflow: hidden;
  white-space: nowrap;
}

table.compare-list th {
  width: 205px;
  max-width: 205px;
  min-width: 205px;
  overflow: hidden;
  text-align: left;
  font-size: 1.076em;
  color: #333;
  font-weight: 400;
}

table.compare-list tr.image td,table.compare-list tr.image th,table.compare-list tr.price td,table.compare-list tr.price th,table.compare-list tr.title td,table.compare-list tr.title th {
  color: #333;
  font-size: 1.076em;
}

table.compare-list tr.image td,table.compare-list tr.image th,table.compare-list tr.price td,table.compare-list tr.price th,table.compare-list tr.remove td,table.compare-list tr.remove th,table.compare-list tr.title td,table.compare-list tr.title th {
  border: 0;
  padding-bottom: 0;
}

table.compare-list tr.g-atc td {
  border-top: none;
}

.single-product-content .entry-summary .compare-btn-wrapper a .basel-tooltip-label {
  display: none;
}

table.compare-list tr.no-products.odd {
  background-color: #f7f7f7;
}

table.compare-list tr.no-products.odd td {
  padding: 20px 10px;
}
table.compare-list img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.amount {
    color: #949494;
}
tr.g-atc{
	float: none;
}
